@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
header{
    background-color: black;
    display: flex;
    height: 6.63vh;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100vw;
    
    /* position: fixed; */
    
}
ul{
    display: flex;
    align-items: center;
}
header  ul a{
    color: white;
    text-decoration: none;
    /* margin-left: 23px; */
    font-family: 'Lato', sans-serif;
    display: flex;
    align-content: center;
    padding: 10px;
    border-radius: 5px;
}

.menu{
    position: relative;
    color: White;
    font-family: 'Lato', sans-serif;
    display: none;
}
.menu .h{
    padding-left: 5px;
    width: 30px;
    height: 30px;
    background-image: url(menu.jpg);
    background-repeat: none;
    background-size: cover;

}
header .menu .ddn{
display: none;
position: absolute;
background-color: black;
color: white;
min-width: 100vw;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}
header .menu .ddn a{
    color: white;
    text-decoration: none;
}
.menu:hover .ddn{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 800px){
    header ul{
        display: none;
    }
    header .menu{
        display: inline-block;
    }
   
}
.slider{
    display: flex;
    justify-content: center;
}

header ul a:hover{
    background-color: aliceblue;
    color: black;
    font-weight: bolder;
}
.icon {
    display: flex;
    justify-content: center;
    color: white;
}
.icon i{
    margin-left: 5px;
}
.icon i:hover{
    opacity: 0.7;
    cursor: pointer;
}
.pow{
    display: flex;
    justify-content: center;
    color: silver;
}
footer{
    background-color: black;
    padding-top: 25px;
    width:100vw;
}
footer .cop{
    text-align: right;
    background-color: black;
    color: white;
    display: block;
    width:100vw;
}
.off{
    display: none;
}
